.signup-bg-img {
    width: 100%;
    height: 115vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.signup-bg-shades {
    height: 115vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.573);
    position: absolute;
    top: 0;
}

.signup-logo {
    position: absolute;
    top: -50px;
    left: 0px;
    height: 250px;
}

.signup-title {
    color: #2EB4F9;
    text-align: center;
    margin-top: 7%;
    font-size: 45px;
}

.signup-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.signup-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-partition {
    display: flex;
    gap: 25px;
}

.signup-button {
    width: 180px;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: #2EB4F9;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 38%;
    margin-top: 10px;
}

.signup-input1 {
    height: 45px;
    width: 300px;
    padding-left: 10px;
    outline: none;
    border-radius: 4px;
}

.signup-radio {
    color: white;
    display: flex;
    gap: 40px;

}
.signup-radio2 {
    display: flex;
    gap: 40px;
}
.signup-radio2 div{
    margin-top: 20px;
}
.signup-radio2 span{
    margin-top: 20px;
}

.signup-textarea {
    outline: none;
    padding-left: 10px;
    width: 642px;
    border-radius: 4px;
}

.signup-label {
    position: relative;
    top: -12px;
}
.errorHandle{
    color: red;
    font-size: 0.875rem;
    font-weight: bold;
}

@media(max-width:800px) {
    .signup-title {
        margin-top: 22%;
        font-size: 30px;
    }

    .signup-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .signup-partition {
        flex-direction: column;
        gap: 25px;
    }

    .signup-button {
        margin-left: 20%;
    }

    .signup-bg-shades,
    .signup-bg-img {
        height: 180vh;
    }

    .signup-textarea {
        width: 300px;
    }

    .signup-form {
        margin-top: 50px;
    }
    .signup-radio {
        flex-direction: column;
    }
    .signup-radio2 span{
        margin-left: 10px;
    }
}
